.textnav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;

}
.textbasic {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.textbasicBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: bold;
}
.textnaslov {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
body {
	scrollbar-face-color: #000000;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-3dlight-color: #000000;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-darkshadow-color: #000000
}
a:hover {
	color: #FF0000;
	text-decoration: none;
}
a:active {
	color: #FF0000;
	text-decoration: none;
}
a:link {
	color: #999999;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
.textbasicletraset {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	background-color: #000000;

}
.textbasictitle {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
